/* Fonts */
/* Averi Serif Libre - for Headings */
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

/* Sets background color of the bodyto be an off white */
body {
    background: #dbdcdd;
    height: 100%;
}

/* Sets the background of the header to be a purplish grey and gives a bottom border */
header {
    /* background: rgba(226, 117, 117, 0.149); */
    background: rgba(226, 219, 231, 1);
    border-bottom: 2px solid rgb(184, 182, 182);

}
/* Font for the headers */
h1, h2 {
    font-family: 'Averia Serif Libre', cursive;
    font-weight: 400;
}

/* Styling for my name in the header. */
h1 {
    color: rgb(255, 255, 255);
    font-size: 36px;
    text-align: center;
    margin-bottom: 0;
    padding-top: .4rem;
    padding-bottom: .4rem;

}

/* Centers and sets background color for my name in header. */
div.header-name {
    background-color: rgba(29, 85, 29, .7);

}

/* Right side border for the first 2 links in the navbar to make a separator. */
li.r-border {
    border-right: 1px inset rgb(146, 142, 142);
}


/* for ABOUT ME card */
div.box-shadow {
    box-shadow: 0 0 10px 0 rgba(0,0,0,.50)
}

div.col-md-3 {
    padding-top: 15px;
    padding-bottom: 15px;
}

/* From: https://bootsnipp.com/snippets/kMdQj, Alex Mahrt */
.lib-panel {
    margin-bottom: 20Px;
}

.lib-panel img {
    width: 100%;
    background-color: transparent;
}

.lib-panel .row,
.lib-panel .col-md-6 {
    padding: 0;
    background-color: #FFFFFF;
}


.lib-panel .lib-row {
    padding: 0 20px 0 20px;
}

.lib-panel .lib-row.lib-header {
    background-color: #FFFFFF;
    font-size: 20px;
    padding: 10px 20px 0 20px;
}

.lib-panel .lib-row.lib-header .lib-header-seperator {
    height: 2px;
    width: 26px;
    background-color: #d9d9d9;
    margin: 7px 0 7px 0;
}

.lib-panel .lib-row.lib-desc {
    position: relative;
    height: 100%;
    display: block;
    font-size: 13px;
}
.lib-panel .lib-row.lib-desc a{
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: 20px;
}

.row-margin-bottom {
    margin-bottom: 20px;
}

.box-shadow {
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
    box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
}

.no-padding {
    padding: 0;
}



/* FORM styling in CONTACT.html */
form h2 {
    color: rgb(29, 85, 29);
}

hr {
    height: 2px;
    background: lightgrey;
}

#contact-form {
    max-width: 40em;
    background-color: whitesmoke;
    margin: 3em;
    border: 2px solid darkslategrey;

}

input.btn {
    background: rgb(29, 85, 29);
}

/* For FOOTER */

div.footer-margin {
    height: 100px;
}

footer {
    background: rgb(45, 109, 45);
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
    /* color: rgb(160, 185, 122); */
}

footer, i.fab {
    color: rgba(226, 219, 231, 1);
}

